@font-face {
    font-family: 'MiFuente';
    src: url('/Resources/Fonts/CaviarDreams.ttf') format('truetype');
}

html {
    font-family: 'MiFuente', sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background: rgb(240, 240, 240);
    margin: 0px;
    padding: 0px;
}

.container{
    position: relative;
    top: 1vh;
    left: 15%;
    width: 83%;
    height: 85vh;
    background-color: white;
    overflow-y: auto;
}

.container-alumnos{
    position: relative;
    top: 8%;
    display: flex;
    flex-direction: column;
}

.top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 7%;
    background-color: #b33333;
    display: flex;
    justify-content: center;
    font-weight: 600;
    color: white;
    align-items: center;
    border-radius: 2px 2px 0 0;
}

.boton{
    position: absolute;
    border: 1px solid black;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Estilo para cuando el botón está en estado hover */
#boton_agregar:hover {
    background-color: #2ecc71;
    font-weight: 600;
    color: white;
    transform: scale(1.05); /* Aumenta ligeramente el tamaño del botón */
}

.boton-tomar-asistencia{
    height: 90%;
    width: 10%;
    background-color: white; 
    color: #2ecc71; 
    border: 2px solid #2ecc71; 
    font-weight: 600;
    border-radius: 2px; 
    padding: 10px 20px; 
    font-size: 12px; 
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; 
}

.button-back {
    background-color: transparent; /* Fondo transparente */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambiar cursor a puntero */
    width: 60px; /* Ancho del botón, ajusta según necesites */
    height: 60px; /* Alto del botón, ajusta según necesites */
    position: absolute; /* Posicionamiento absoluto */
    left: 10px; /* Alinear a la izquierda */
    top: 50%; /* Centrado verticalmente */
    transform: translateY(-50%); /* Ajustar para centrar verticalmente */
}

.button-back::before {
    content: ''; /* Contenido vacío para la flecha */
    border: solid white; /* Color de la flecha */
    border-width: 0 4px 4px 0; /* Aumentar el ancho de la flecha */
    display: inline-block; /* Para que funcione el layout */
    padding: 8px; /* Espaciado alrededor de la flecha */
    transform: rotate(135deg); /* Rotar para que se vea como flecha hacia atrás */
    position: absolute; /* Posicionar correctamente */
    top: 50%; /* Centrado verticalmente */
    left: 15px; /* Ajustar la posición a la izquierda */
    transform: translateY(-50%) rotate(135deg); /* Centrado verticalmente */
}

/* Estilo para el hover (opcional) */
.button-back:hover {
    opacity: 0.7; /* Efecto al pasar el mouse */
}

.alumno{
    position: relative;
    top: 8%;
    display: flex;
    flex-direction: row;
    height: 3vh;
    border: 1px solid grey;
    margin-bottom: 2px;
}

.alumno-top{
    position: relative;
    top: 8%;
    display: flex;
    flex-direction: row;
    height: 5vh;
    border: 1px solid grey;
    margin-bottom: 2px;
}

.id{
    display: flex;
    font-size: 20px;
    width: 5%;
    justify-content: center;
    align-items: center;
}

.nombre{
    display: flex;
    font-size: 20px;
    width: 30%;
    justify-content: center;
    align-items: center;
}

.dni{
    display: flex;
    font-size: 20px;
    width: 25%;
    justify-content: center;
    align-items: center;
}

.fecha_nacimiento{
    display: flex;
    font-size: 20px;
    width: 25%;
    justify-content: center;
    align-items: center;
}

.asistencia{
    display: flex;
    font-size: 20px;
    width: 15%;
    justify-content: center;
    align-items: center;
}

.top-asistencia{
    display: flex;
    font-size: 30px;
    width: 15%;
    justify-content: center;
    align-items: center;font-weight: 600;
}

.top-fecha_nacimiento{
    display: flex;
    font-size: 25px;
    width: 25%;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.top-dni{
    display: flex;
    font-size: 25px;
    width: 25%;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.top-nombre{
    display: flex;
    font-size: 25px;
    width: 30%;
    justify-content: center;
    font-weight: 600;
    align-items: center;
}

.top-id{
    display: flex;
    font-size: 25px;
    width: 5%;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}