html {
    background-image: url(/TP2/Imagenes/rick-and-morty-minimalist-hd-wallpaper-uhdpaper.com-921@0@e.jpg);
    background-size: cover;
}

.ContenedorGeneral{
    position: relative;
    top: 5vh;
    display: flex;
    flex-direction: row;
    height: 5vh;
    justify-content: space-around;
    align-items: center;
}

.ContenedroImputUno {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 14%;
    height: 60%;
}

.ContenedorImputDos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 14%;     
    height: 60%;
}

.Buscar {
    height: 60%;
    width: 12%;
}

.ContanedorImagenes {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 9vh;
}

img {
    width: 30%;
}

.ContanedorImagenes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#ImagenesDos {
    padding-top: 5vh;
}

.ImageError {
    margin-right: 1vw;
    width: 8%;
}

.ErrorCatch {
    position: relative;
    top: 35vh;
    left: 35vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
    font-weight: 600;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 30%;
    border: 2px solid rgb(185, 1, 1);
    background-color: rgba(185, 1, 1, 0.538);
}

.BotonBuscar {
    color: white;
    font-size: 1.5vh;
    height: 3vh;
    border-radius: 1px;
    border: 1px solid #cf112b;
    background-color: #191919;
}

.Boton {
    color: white;
    border-radius: 1px;
    border: 1px solid #cf112b;
    background-color: #191919;
    transition: 0.2s;
}

.Boton:hover {
    background-color: #cf112b;
}

.Boton:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.BotonBuscar{
    color: white;
    border-radius: 1px;
    border: 1px solid #cf112b;
    background-color: #191919;
    transition: 0.2s;
}

.BotonBuscar:disabled{
    opacity: 0.6;
    cursor: not-allowed;
}

.BotonBuscar:hover{
    background-color: #cf112b;
}

#ImputNumberOne,#ImputNumberTwo {
    color: white;
    border-radius: 1px;
    border: 1px solid #cf112b;
    background-color: #191919;
    transition: 0.2s;
}

#ImputNumberOne:focus,#ImputNumberTwo:focus{
    background-color: #cf112b;
    outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}