html{
    padding: 0;
    margin: 0;
    font-family: "title";
}

header{
    display: flex;
    flex-direction: row;
    color: white;
    position: sticky;
    top: 0px;
    height: 10vh;
    width: 100%;
    background-color: #066a8f;
    padding: 0;
    margin: 0;
    border-bottom: rgb(200, 200, 200);
}

a{
    text-decoration: none;
    color: black;
}

.Redes-Sociales{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 9%;
    top: 3vh;
    left: 65%;
    height: 45%;
}

.redes{
    height: 2vw;
    filter: grayscale(30%);
    transition: 0.5s;
    border-radius: 20%;
}

.redes:hover{
    filter: grayscale(0%);
}

.redes-instagram{
    position: relative;
    bottom: 5%;
    height: 2.3vw;
    filter: grayscale(50%);
    transition: 0.5s;
}

.redes-instagram:hover{
    filter: grayscale(0%);
}

.Logo{
    position: relative;
    height: 7vh;
    border: 2px solid white;
    border-radius: 50%;
}

.Container-Title-Logo{
    position: relative;
    top: 1.5vh;
    left: 4vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 19.5%;
    height: 90%;
}

.MenuLetra{
    border: 1px solid palevioletred;
    width: 30%;
}

.contenedorMenu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 6vh;
    border: 1px solid rgb(200, 200, 200);
    background-color: #066b8fe7;
    border-radius: 3px;
    border-radius: 50px;
}

.Menu-options{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
    border: 1px solid rgb(200, 200, 200);
    height: 6vh;
    transition: 0.5s;
    border-radius: 50px;
}

.Menu-options:hover{
    background-color: #066b8f7e;
}

.Menu-Principal{
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 11vh;
    left: 2vh;
    width: 15%;
    height: 50%;
}

.IconoMenu{
    position: relative;
    top: 1vh;
    right: 1vw;
    margin: 0;
    padding: 0;
    height: 1.5vw;
}

.LetrasMenu{
    color: white;
    position: relative;
    top: 1.5vh;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "title";
    src: url(/Practicas/Veterinaria/Fonts/CreatoDisplay-Regular.otf);
}