body{
    position: relative;
    right: 0;
    padding: 0;
    margin: 0;
}

main{
    position: relative;
    top: 3vh;
    left: 18%;
    width: 80%;
    padding: 0;
    margin: 0;
    height: 60vh;
}

.ContenedorUno{
    position: relative;
    left: 30%;
    top: 1vh;
    border: 1PX solid rgb(200, 200, 200);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 10px;
    border-radius: 3px;
}

#Inputs {
    height: 35vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}

#Nombre-Dueño,#Nombre,#Edad,#Raza,#Color,#Peso,#Plumaje,#Animal {
    width: 70%;
    height: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.4s;
    border: 1px solid green;
}

input:focus{
outline: none;
background-color: rgba(0, 128, 0, 0.315);
}

input:hover{
    background-color: rgba(0, 128, 0, 0.315);
    border: 1px solid black;
    transform: none;
}

#SubirInfo{
    font-weight: 600;
    width: 50%;
    height: 50%;
    background-color: white;
    border: 1px solid gray;
    transition: 0.4s;
    border-radius: 50px;
}

#SubirInfo:hover {
    background-color: rgba(0, 128, 0, 0.315);
    border-radius: 50px;
}

#SelecAnimal{
    height: 3vh;
    width: 5vw;
    margin: 0;
    padding: 0;
}

#SelecAnimal:hover{
 border: 1px solid rgba(0, 128, 0, 0.315);
}

#BotonTipo{
    font-weight: 600;
    font-size: 0.7vw;
    height: 3vh;
    width: 5vw;
    background-color: white;
    border: 1px solid gray;
    transition: 0.4s;
    border-radius: 50px;
}

#BotonTipo:hover {
    background-color: rgba(0, 128, 0, 0.315);
    border-radius: 50px;    
}

#Contenedor-Informacion-Mascotas{
    position: relative;
    top: 10vh;
}

#Informacion_mascotas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 3.5vh;
    font-size: 90%;
    border-radius: 50px;
    margin-top: 10px;
}

.Cabecera_Informacion_mascotas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 3.5vh;
    font-size: 95%;
    border-radius: 50px;
}

.Informacion{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    width: 12.5%;
    text-align: center;
    background-color: #066b8fe7;
    border: 1px solid rgb(200, 200, 200);
    border-bottom: 0px;
    border-radius: 50px;
}

.Mascota {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 12.5%;
    text-align: center;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 50px;
}

.title-Buscar-mascotas{
    position: relative;
    left: 32vw;
}

.Silueta{
    position: relative;
    top: 0.5vh;
    height: 5vh;
}

.Silueta-gato{
    position: relative;
    top: 1vh;
    height: 6vh;
}