/* General form styling */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4; /* Fondo de la página */
}

form {
    width: 100%;
    max-width: 800px; /* Ajusta el ancho máximo según sea necesario */
    margin: auto;
    padding: 20px;
    background-color: #ffffff; /* Fondo blanco para el formulario */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

form h2 {
    text-align: center;
    color: #3498db; /* Color del título */
    margin-bottom: 20px;
}

.form-group-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre columnas */
    margin-bottom: 15px;
}

.form-group {
    flex: 1 1 calc(50% - 20px); /* Dos columnas con espacio entre ellas */
    box-sizing: border-box;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
#empleado-cliente input,
.sueldo input,
.contraseña-repetir input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.contraseña-repetir {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.sueldo {
    margin-bottom: 15px;
}

#empleado-cliente {
    margin-bottom: 15px;
}

.checkbox-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 15px;
}

.checkbox-container label {
    margin-right: 5px;
}

input[type="button"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #2980b9;
}

.registrar {
    position: relative;
    bottom: 10%;
    width: 100%;
    max-width: 800px; /* Asegura que el ancho coincida con el del formulario */
    margin: 0px auto 0;
    text-align: center;
}

.registrar a {
    color: #3498db; /* Color del enlace */
    text-decoration: none;
    font-weight: bold;
}

.registrar a:hover {
    text-decoration: underline; /* Subraya el enlace al pasar el ratón */
}
