/* General styling */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

/* Contenedor de la información */
.contenedor-informacion {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: auto;
    position: relative;
    top: 10vh;
}

.contenedor-informacion h2 {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    color: #3498db;
    font-size: 24px;
}

/* Informacion 1 e Informacion 2 a mitad y mitad */
.informacion1, .informacion2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.informacion1 div, .informacion2 div {
    width: 48%; /* Para que ocupen la mitad */
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

div[id] {
    background-color: #ecf0f1;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

/* Contenedor de botones */
.contenedor-botones {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    max-width: 900px;
    margin: auto;
    text-align: center;
    justify-content: center;
    display: flex;
}

.contenedor-botones h5 {
    margin-bottom: 10px;
}

.contenedor-numero input[type="submit"] {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 60%;
    position: sticky;
    left: 100%;
}

.contenedor-botones label {
    margin-right: 10px;
    font-weight: bold;
}

/* Contenedor de número */
.contenedor-numero {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;   
    max-width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 25%;
    position: relative;
    top: 12vh;
}

.contenedor-numero div {
    display: inline-block;
    padding: 5px;
    background-color: #ecf0f1;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
    text-align: left;
}

.contenedor-numero label {
    margin-right: 10px;
    font-weight: bold;
}

#numero{
    text-align: center;
}

.admin-registrado {
    display: flex;
    align-items: center;
    background-color: #eaf5ea; /* Verde claro */
    border: 2px solid #4caf50; /* Verde */
    padding: 10px;
    border-radius: 5px;
    max-width: 300px; /* Ajusta según tu necesidad */
    margin: 20px auto; /* Centra el div horizontalmente */
}

.admin-registrado img.check {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.admin-registrado span {
    font-size: 16px;
    color: #4caf50; /* Verde */
    font-weight: bold;
}

.cabecera-error{
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    height: 80px;
    width: 60%;
    position: relative;
    left: 20%;
    top: 40vh;
    background-color: rgba(252, 43, 43, 0.705);
    border: 1px solid red;
    border-radius: 10px;
}

.check{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}